/* Estilos de fontes */

/* Fonte Roboto 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Fonte Montserra 500 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Montserrat:wght@500&family=Roboto:wght@700&display=swap');

/* Reset */
a {

	text-decoration: none;

}

ol, ul {

	list-style: none;

}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main, span {

	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}

/* Estilos Gerais */
h1, h2, h3, label, legend {

    font-family: 'Roboto', sans-serif;
}

p, a, button, span {

    font-family: 'Montserrat', sans-serif;
    line-height: 30px;

}

body main {

  display: flex;
  flex-direction: column;
  align-items: center;

}

body main form {

  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 64px;
  border: none;
  border-radius: 16px;

}

main form h1 {

  margin-bottom: 16px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-transform: uppercase;

}

main form h1::after{

  content: "";
  width: 180px;
  height: 5px;
  display: block;
  background: #fed116;
  margin: 6px 0 24px 0;
  
}

main form label, fieldset, legend {

font-size: 18px;
color: black;
margin-bottom: 8px;
margin-top: 16px;

}

input, select {

  padding: 8px 16px;

}

form input:focus {


  transform: scale(1.1);
}

form input:hover {
  
  background-color: #eee9de;

}

.botoes {

  display:flex;
  flex-direction: row;
  gap:24px;
  margin-top: 24px;

}

form button {

  background-color:#fed116;
  border: none;
  border-radius: 20px;
  color: #ece5dc;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  transition: .5s;
  text-transform: uppercase;
  width: 200px;

}

button:hover {

  background-color: #f09a1a;

}
