/* Estilos de fontes */

/* Fonte Roboto 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Fonte Montserra 500 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Montserrat:wght@500&family=Roboto:wght@700&display=swap');

/* Reset */
a {

	text-decoration: none;

}

ol, ul {

	list-style: none;

}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main, span {

	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;

}

/* Estilos Gerais */
h1, h2, h3 {

    font-family: 'Roboto', sans-serif;
}

p, a, button, span {

    font-family: 'Montserrat', sans-serif;
    line-height: 30px;

}

body {

    background-color: #f5f5f5;

}

.header{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
}
header img{
    width: auto;
}

/* ********************************************************************************** */
@media (max-width: 768px) {

    header .header h1 {

      font-size:24px;

    }

    main .container-intro {

      max-width: 400px;


    }

    main .container-intro h2 {

      font-size: 18px;

    }

    main .container-intro p {

      font-size: 14px;

    }

    main .container-intro button {

      font-size: 10px;
      border-radius: 20px;
      padding: 5px 12px;
      margin: 0 32px 32px 32px;
      cursor: pointer;

  }

  .apresentacao-container .container-video {

    width: 600px;

  }

  .apresentacao-container .container-video h2 {

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 32px 0 0 0px;

  }

  .apresentacao-container #video {

    width: 100%;
    height: 320px;
    margin-bottom: 32px;
  }

  section .curiosidades h2 {

      font-size: 18px;
  }

  section .curiosidades h2::after {

      width: 100px;

  }

  .container-locais {

      flex-direction: column;
  }

  .container-locais .locais-info {

      margin:32px 0;

  }

  .container-locais .locais-info h3 {

      font-size: 16px;

  }

  .container-locais .locais-info h3::after {

      width: 60px;
      height: 3px;

  }

  footer .container-footer {

      background-color: black;
      display: flex;
      flex-wrap: wrap;
    padding: 32px;


  }

  footer .container-footer h2 {

      font-size: 18px;

  }

  footer .container-footer  h2::after {

      width: 100px;

  }

  footer .container-footer .informacoes p {

      font-size: 14px;

  }

  footer .informacoes {

      padding: 0px;

  }


  footer .redes-sociais {

      padding: 0px;

  }

  footer .redes-sociais img {

      margin: 0 16px 0 0;
      width: 40px;
  }



  }

  /* *********************************************************************** */

  @media (max-width: 425px) {


    body {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    header .header {

        width: 425px;
        text-align: center;
    }

    header .header h1 {

      font-size:18px;


    }

    main .container-intro {

      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
      margin: 32px 0;


    }

    main .container-intro h2 {

      font-size: 14px;
      padding:0;


    }

    main .container-intro h2::after {

        width: 50px;
        height: 3px;
        margin: 8px auto;
    }

    main .container-intro p {

      font-size: 12px;
      padding: 0;

    }

    main .container-intro button {

      width: 300px;
      font-size: 8px;
      border-radius: 20px;
      padding: 3px ;
      margin: 16px 0 0 0;
      cursor: pointer;

  }

  .apresentacao-container .container-video {

    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .apresentacao-container .container-video h2 {

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 32px 0 0 0px;

  }

  .apresentacao-container .container-video h2::after {

    width: 50px;
    height: 3px;
    margin: 8px auto;

  }


  .apresentacao-container #video {

    width: 100%;
    height: 220px;
    margin-bottom: 32px;
  }

  section .curiosidades {

    display: flex;
    flex-direction: column;
    max-width: 425px;

  }

  section .curiosidades h2 {

      font-size: 14px;
      text-align: center;
      padding: 0;


  }

  section .curiosidades h2::after {

      width: 50px;
      margin: 8px auto;

  }

  .curiosidades .container-locais {

    margin: 32px;

  }


  .container-locais .locais-info {

      margin:16px 0;

  }

  .container-locais .locais-info h3 {

      font-size: 12px;

  }


  .container-locais .locais-info p {

    font-size: 12px;
    margin: 0;

}


.container-locais .locais-info a {

    font-size: 10px;
    margin: 0;

}

  .container-locais .locais-info h3::after {

      width: 50px;
      height: 3px;
      margin: 6px 0 16px 0;

    }

  footer .container-footer {

      background-color: black;
      display: flex;
      flex-wrap: wrap;
      padding: 16px 32px;


    }

  footer .container-footer h2 {

      font-size: 14px;

  }

  footer .container-footer  h2::after {

      width: 100px;
      height: 3px;
      margin: 6px 0 0px 0;

  }

  footer .container-footer .informacoes p {

      font-size: 12px;

  }

  footer .informacoes {

      padding: 0px;

  }


  footer .redes-sociais {

      padding: 0px;
      margin-top: 16px;

  }

  footer .redes-sociais img {

      margin: 8px 16px 0 0;
      width: 32px;
  }



  }

  /* *********************************************************************************** */


/* Header */
.header {

    width: 100%;
    background-image: linear-gradient(#11274E, #224D9C);
    position: fixed;

}


.header h1 {

    color: white;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 64px;

}

/* Background header */
.bg-header img {

    width: 100%;

}


/* Apresentação da cidade */
.container-intro {

    max-width: 800px;
    background-color: white;
    margin: 64px auto;
    box-sizing: border-box;

}

.container-intro h2 {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 32px 0 0 32px;

}

.container-intro h2::after {

    content: "";
    width: 150px;
    height: 5px;
    display: block;
    background: #FED116;
    margin: 6px 0 32px 0;

}

.container-intro p {

    font-size: 18px;
    font-weight: normal;
    padding: 0 32px 32px 32px;

}

.container-intro button {

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FED116;
    color: white;
    border: none;
    border-radius: 20px;padding: 12px;
    margin: 0 32px 32px 32px;
    cursor: pointer;

}

/* Apresentacao do video */
.apresentacao-container {

    background-color: #E0E0E0 ;

}


.container-video {

    width: 1280px;
    margin: 0 auto;
    background-color: #E0E0E0 ;

}

.container-video h2 {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 32px 0 0 0px;

}

.container-video h2::after {

    content: "";
    width: 150px;
    height: 5px;
    display: block;
    background: #FED116;
    margin: 6px 0 32px 0;

}


#video {

    width: 100%;
    height: 720px;
    margin-bottom: 32px;
}

/* Curiosidade da cidade */
.curiosidades {

    width: 100%;
    display: flex;
    flex-direction: column;

}


.curiosidades h2 {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 64px 0 0 64px;

}

.curiosidades h2::after {

    content: "";
    width: 150px;
    height: 5px;
    display: block;
    background: #FED116;
    margin: 6px 0 32px 0;

}

/* Feito alinhamento na horizontal com clear:both */
.container-locais {

    margin: 32px 64px;
    display: flex;

}


.locais-info {

    margin: 0 32px;

}

.locais-info h3 {

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

.locais-info h3::after {

    content: "";
    width: 75px;
    height: 5px;
    display: block;
    background: #FED116;
    margin: 6px 0 32px 0;

}

.locais-info p {

    font-size: 14px;
    font-weight: normal;
    color: black;
    margin-bottom: 16px;

}

.locais-info a {

    font-size: 14px;
    font-weight: normal;
    color: #F90707;


}

/* footer */
/* Feito alinhamento na horizontal com clear:both */
.container-footer {

    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.container-footer h2 {

    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}

.container-footer h2::after {

    content: "";
    width: 150px;
    height: 5px;
    display: block;
    background: #FED116;
    margin: 6px 0 16px 0;

}

.container-footer p {

    color: white;
    font-size: 18px;
    font-weight: normal;

}

.container-footer a {

    color: #FED116;

}

.informacoes {

    padding: 64px;

}


.redes-sociais {

    padding: 64px;

}

.redes-sociais img {

    margin: 0 32px 0 0;
}

.copy {

    display: flex;
    flex-direction: column;
    background-color: #F90707;
    width: 100%;
    align-items: center;

}

.copy span {

    color: white;
    font-size: 10px;
    font-weight: normal;
    padding: 0;

}
